html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
}

[v-cloak] {
    display: none;
}

.app {
    height: 100%;
    margin: auto;
    padding: 2em 1em;
    width: 640px;
}

.btn {
    background-color: #3949ab;
    color: #fff;
}

.WBMsg {
    display: block;
    width: 100%;
    margin: .3em 0;
    text-align: right;
    text-shadow: 0 0 10px RGBA(0, 0, 0, 0.4);
}

.WBMsg-balloon {
    display: inline-block;
    max-width: 80%;
    padding: .3em 1.5em;
    border-radius: 1.2em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-image: radial-gradient(circle at 100% 100%, #fff, #90caf9);
    color: #000;
}

.WBMsg-alert {
    color: red;
    cursor: pointer;
    float: left;
    margin: 0 .5em 0 -1em;
}

.WBMsg-body { }

.WBMsg-panel {
    display: block;
}

.WBMsg-panel-item {
    display: inline-block;
}

.WBMsg-author {
    font-size: .9em;
    font-style: italic;
}

.WBMsg-sent {
    text-align: left;
    width: 100%;
}
.WBMsg-sent .WBMsg-alert {
    float: right;
    margin: 0 -1em 0 .5em;
}

.WBMsg-sent .WBMsg-balloon {
    background-image: linear-gradient(141deg, orange 0%, #fff 75%);
    background-image: radial-gradient(circle at 0% 100%, #fff, orange);;
}
